[project]
	description = MyFirstGame
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Bence Janos Szabo (SzBencej)
[access "refs/for/refs/*"]
	read = group user/Bence Janos Szabo (SzBencej)
	push = group user/Bence Janos Szabo (SzBencej)
	label-Code-Review = -2..+2 group user/Bence Janos Szabo (SzBencej)
	label-Verified = -1..+1 group user/Bence Janos Szabo (SzBencej)
	rebase = group user/Bence Janos Szabo (SzBencej)
	removeReviewer = group user/Bence Janos Szabo (SzBencej)
	submit = group user/Bence Janos Szabo (SzBencej)
[access "refs/heads/*"]
	read = group user/Bence Janos Szabo (SzBencej)
	create = group user/Bence Janos Szabo (SzBencej)
	push = +force group user/Bence Janos Szabo (SzBencej)
	pushMerge = group user/Bence Janos Szabo (SzBencej)
[access "refs/tags/*"]
	push = +force group user/Bence Janos Szabo (SzBencej)
	pushTag = group user/Bence Janos Szabo (SzBencej)
	pushSignedTag = group user/Bence Janos Szabo (SzBencej)
